Source: pardus-gnome-settings
Section: gnome
Priority: optional
Maintainer: Fatih Altun <fatih.altun@pardus.org.tr>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.1
Homepage: https://github.com/pardus/pardus-gnome-settings

Package: pardus-gnome-settings
Architecture: all
Depends: ${misc:Depends}, fonts-ubuntu
Breaks: pardus-configure
Description: default settings for the Pardus GNOME desktop
 This package contains the default settings used by Pardus.
